#{{ ansible_managed }}
server {

{% if nginx_separate_logs_per_site == True %}
	access_log {{ nginx_log_dir}}/{{ item.server_name}}-{{ nginx_access_log_name}};
	error_log {{ nginx_log_dir}}/{{ item.server_name}}-{{ nginx_error_log_name}};
{% endif %}

{% if item.ssl is defined and item.ssl.key != None %}
listen {{ item.listen }} ssl;
{% if not item.ipv4_only is defined %}
listen [::]:{{ item.listen }} ssl;
{% endif %}
ssl_certificate {{ nginx_ssl_dir }}/{{ item.ssl.certificate }};
ssl_certificate_key {{ nginx_ssl_dir }}/{{ item.ssl.key }};
# only access via secure https
add_header Strict-Transport-Security max-age=31536000;
# Not allowed to be framed, i.e <iframe> (clickjacking attacks)
add_header X-Frame-Options DENY;
{% else %}
listen {{ item.listen }};
{% if not item.ipv4_only is defined %}
listen [::]:{{ item.listen }};
{% endif %}
{% endif %}


{% for k,v in item.iteritems() %}
{% if k.find('locations') == -1 and k != 'file_name' and k != 'listen' and k != 'ssl' %}
{{ k }} {{ v }};
{% endif %}
{% endfor %} 

{% for location in item.locations %}
  location {{ location.name }} {
{% for line in location.lines %} 
      {{ line }};
{% endfor %}
  }
{% endfor %}
}

